@tailwind base;

.strikethrough {
  @apply relative;
}

.strikethrough:before {
  content: "";
  left: 0;
  top: 50%;
  right: 100%;
  border-top: 2px solid;
  border-color: black;
  position: absolute;

  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  -o-transform:rotate(-1deg);
  transform:rotate(-1deg);

  transition: right 3s;
}

@screen md {
  .strikethrough:before {
    border-top: 4px solid;
  }
}

.strikethrough-enable:before {
  left: 0;
  top: 50%;
  right: 0;
}

.replacement {
    transition: opacity 3s, color 0.5s;
}

.report-video {
    top: 15.9%;
    bottom: 12.9%;
    left: 7%;
    right: 23%;
}

.m-report-video {
    top: 17.9%;
    bottom: 7.3%;
    left: 2%;
    right: 14%;
}

.m-report-notv {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.penelope {
  top: 0;
  left: 0;
  bottom: 68%;
}

.tiresias {
  bottom: 2%;
  left: 0;
  top: 62%;
}

.calypso {
  top: 2%;
  right: 2%;
  bottom: 62%
}

.athena {
  bottom: 4%;
  right: 0%;
  top: 50%
}

.hearts {
  right: 3%;
  left: 86%;
  top: 33%;
  bottom: 51%;
}

.shocklines {
  top: -1%;
  right: 1%;
  left: 84%;
  bottom: 84%
}

@screen lg {
  .shocklines {
    top: -1%;
    right: 0%;
    left: 85%;
    bottom: 84%
  }
}

@screen xl {
  .shocklines {
    top: -1%;
    right: 1%;
    left: 87%;
    bottom: 84%
  }
}

@screen 2xl {
  .shocklines {
    top: 0;
    right: .5%;
    left: 88%;
    bottom: 84%
  }
}


.stringhor {
  left: 10%;
  right: 22%;
  top: 72%;
  bottom: -1%;
}

.stringver {
  top: 22%;
  left: -1%;
  bottom: 1%;
}

.wave {
  left: 69%;
  right: 4%;
  top: 74%;
  bottom: 1%;
}

.credits {
  top: 4%;
  left: 4%;
  right: 6%;
  bottom: 7%;
}

.stroke-medium {
  -webkit-text-stroke: 0.25px black;
}

.stroke-semibold {
  -webkit-text-stroke: 0.5px black;
}

.stroke-bold {
  -webkit-text-stroke: 1px black;
}
.stroke-bolder {
  -webkit-text-stroke: 1.2px black;
}

.credits-title {
  -webkit-text-stroke: 1px black;
  @apply text-base xl:text-lg text-center;
}

@screen xl {
  .credits-title {
    -webkit-text-stroke: 1.2px black;
    @apply text-base xl:text-lg text-center;
  }
} 

.credits-subtitle {
  @apply inline-block border-b-2 border-black text-sm mt-2; 
}

.credits-name {
  @apply text-sm lg:text-base;
}

.music-subtitle {
  @apply inline-block border-b-2 border-black text-xs lg:text-sm xl:text-base mt-2; 
}

.music-name {
  @apply text-xs lg:text-base mt-2; 
}

@tailwind components;
@tailwind utilities;