@tailwind base;

.strikethrough {
  @apply relative;
}

.strikethrough:before {
  content: "";
  left: 0;
  top: 50%;
  right: 100%;
  border-top: 2px solid;
  border-color: black;
  position: absolute;

  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  -o-transform:rotate(-1deg);
  transform:rotate(-1deg);

  transition: right 3s;
}

@screen md {
  .strikethrough:before {
    border-top: 4px solid;
  }
}

.strikethrough-enable:before {
  left: 0;
  top: 50%;
  right: 0;
}

.replacement {
    transition: opacity 3s, color 0.5s;
}

.report-video {
    top: 15.9%;
    bottom: 12.9%;
    left: 7%;
    right: 23%;
}

.m-report-video {
    top: 17.9%;
    bottom: 7.3%;
    left: 2%;
    right: 14%;
}

.m-report-notv {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.penelope {
  top: 0;
  left: 0;
  bottom: 68%;
}

.tiresias {
  bottom: 2%;
  left: 0;
  top: 62%;
}

.calypso {
  top: 0%;
  right: 2%;
  bottom: 62%
}

.athena {
  bottom: 4%;
  right: 0%;
  top: 50%
}

.hearts {
  right: 3%;
  left: 86%;
  top: 33%;
  bottom: 51%;
}

.stringhor {
  left: 10%;
  right: 22%;
  top: 72%;
  bottom: -1%;
}

.stringver {
  top: 22%;
  left: -1%;
  bottom: 1%;
}

.wave {
  left: 69%;
  right: 4%;
  top: 74%;
  bottom: 1%;
}

.credits {
  top: 4%;
  left: 4%;
  right: 6%;
  bottom: 7%;
}

.stroke-medium {
  -webkit-text-stroke: 0.25px black;
}

.stroke-semibold {
  -webkit-text-stroke: 0.5px black;
}

.stroke-bold {
  -webkit-text-stroke: 1px black;
}
.stroke-bolder {
  -webkit-text-stroke: 1.2px black;
}

.credits-title {
  -webkit-text-stroke: 1px black;
  @apply text-base xl:text-lg text-center;
}

@screen xl {
  .credits-title {
    -webkit-text-stroke: 1.2px black;
    @apply text-base xl:text-lg text-center;
  }
} 

.credits-subtitle {
  @apply inline-block border-b-2 border-black text-sm mt-2; 
}

.credits-name {
  @apply text-sm lg:text-base;
}

.music-subtitle {
  @apply inline-block border-b-2 border-black text-xs lg:text-sm xl:text-base mt-2; 
}

.music-name {
  @apply text-xs lg:text-base mt-2; 
}



@tailwind components;
@tailwind utilities;


@keyframes arrow-spin {
  100% {
    transform: rotate(179deg);
  }
}

@-webkit-keyframes arrow-spin {
  100% {
    -webkit-transform: rotate(179deg);
  }
}

.psoload,
.psoload *,
.psoload *:before,
.psoload *:after {
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.psoload {
  position: relative;
  width: 150px;
  height: 150px;
}

.psoload .straight,
.psoload .curve {
  position: absolute;
  top: 17.5%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  border-radius: 100%;
  animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
  -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite;
}

.psoload .straight:before,
.psoload .straight:after {
  content: '';
  position: absolute;
  width: 15%;
  border-bottom: 3px solid #2b2213;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.psoload .straight:before {
  top: 5px;
  left: 5px;
}

.psoload .straight:after {
  bottom: 5px;
  right: 5px;
}

.psoload .curve:before,
.psoload .curve:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 10px;
  border: solid 3px transparent;
  border-top-color: #2b2213;
  border-radius: 50%/10px 10px 0 0;
  z-index: 92b22131;
}

.psoload .curve:before {
  transform: rotate(-63deg) translateX(-27px) translateY(-4px);
  -webkit-transform: rotate(-63deg) translateX(-27px) translateY(-4px);
}

.psoload .curve:after {
  bottom: 5px;
  right: 5px;
  transform: rotate(115deg) translateX(-26px) translateY(-12px);
  -webkit-transform: rotate(115deg) translateX(-26px) translateY(-12px);
}

.psoload .center {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border-radius: 100%;
  border: 3px solid #2b2213;
}

.psoload .inner {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
  -webkit-animation: arrow-spin 0.85s cubic-bezier(0.2, 0.8, 0.9, 0.1) infinite reverse;
}

.psoload .inner:before,
.psoload .inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-width: 11px;
  border-bottom-color: #2b2213;
}

.psoload .inner:before {
  top: 12px;
  left: 12px;
  transform: rotate(128deg);
  -webkit-transform: rotate(128deg);
}

.psoload .inner:after {
  bottom: 12px;
  right: 12px;
  transform: rotate(-48deg);
  -webkit-transform: rotate(-48deg);
}